/* *{
    margin: 0;
    padding: 0;

} */
.navbar {
  background-color: black;
  color: white;
}
footer {
  background-color: black;
  color: white;
  align-items: center;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: auto;
}
.services h1 {
  font-size: 45px;
}
.btn {
  left: 233px;
}
